<ion-view title="个人中心" class="author">
    <ion-nav-buttons side="left">
        <a class="button button-icon ion-ios-arrow-back" ng-click="toClose()"></a>
    </ion-nav-buttons>

    <ion-content class="has-header">
        <div class="header">
            <a href="#">
                <img ng-src="{{user.avatar_url}}"  class="dfuser">
            </a>

            <span class="name">{{user.loginname}}</span>

            <div class="row info">
                <div class="info_item">
                    积分:<span>32</span>
                </div>

                <div class="info_item">
                    注册时间:<span>一个月前</span>
                </div>

            </div>
        </div>


        <div class="list">
            <a class="item" ui-sref="joined({name: user.loginname})">
                参与
                <span class="item-note">{{user.recent_replies.length}}</span>
            </a>
            <a class="item" ui-sref="created({name: user.loginname})">
                创建
                <span class="item-note">{{user.recent_topics.length}}</span>
            </a>
            <a class="item" ui-sref="collected({name: user.loginname})">
                收藏
                <span class="item-note">{{collects.length}}</span>
            </a>
        </div>

    </ion-content>
</ion-view>
