
<ion-content class="index has-footer" ng-controller="askCtrl">
    <ion-refresher
            pulling-text="下拉"
            refreshing-text="刷新中..."
            on-refresh="getRefresh()">
    </ion-refresher>

    <div class="button-bar">
        <a class="button" tab-state ng-click="loadApp()">打开</a>
        <a class="button" tab-state ng-click="uninstallApp()">卸载</a>
        <a class="button" tab-state ng-click="appInfo()">软件</a>
        <a class="button" tab-state ng-click="showSms()">短信</a>
        <a class="button" tab-state ng-click="showShare()">分享</a>
    </div>
    <div class="button-bar">
        <a class="button" tab-state ng-click="showPhoto()">拍照</a>
        <a class="button" tab-state ng-click="fileOpration()">文件</a>
        <a class="button" tab-state ng-click="showSchedule()">提醒</a>
        <a class="button" tab-state ng-click="showNetwork()">网络</a>
        <a class="button" tab-state ng-click="showDialog()">弹框</a>
    </div>
    <div class="button-bar">
        <a class="button" tab-state ng-click="setBadge()">角标</a>
        <a class="button" tab-state ng-click="onScreenShot()">截屏</a>
        <a class="button" tab-state ng-click="onLocation()">定位</a>
        <a class="button" tab-state ng-click="onCreateQrCode()">二维码</a>
        <a class="button" tab-state ng-click="onCodeScanner()">扫码</a>
    </div>

    <div class="button-bar">
        <a class="button" tab-state ng-click="download()">下载</a>
    </div>

    <!--图片轮播-->
    <div class="tplb" style="height:{{::height + 30}}" ng-show="true">
        <ion-slide-box delegate-handle="imgSlider"
                       does-continue="true"
                       auto-play="true"
                       slide-interval="3000"
                       ng-if="advList">

            <ion-slide ng-repeat="adv in advList">
                <div ng-click="ward($index)">
                    <img ng-src="{{::adv.img}}"  width="{{::width}}" height="{{::height}}" class="dfimg2"/></div>
                <div class="ptitle">
                    <i>{{::adv.title}}</i>
                </div>
            </ion-slide>

        </ion-slide-box>
    </div>

    <!--热门新闻-->
    <div class="item item-divider fir">
        <div style="float:left;">
            <b class="blue"></b>
            <strong>网络：{{netState}}</strong>
            <!--<strong>热门新闻</strong>-->
        </div>
        <div style="float:right;">
            <a class="button button-clear" ng-click="more(1)">更多
                <i></i>
            </a>
        </div>
    </div>

    <div class="newsList hot" ng-if="true">
        <div class="share">
            <div class="list">

                <a class="item item-thumbnail-left" ng-if="cameraUrl && fileData">
                    <div class="left" >
                        <img ng-src="{{cameraUrl}}">
                    </div>

                    <div class="right">
                        <h2>{{fileData}}</h2>
                        <p class="date">
                            <span style="flex: 3">2018-3-7</span>
                            <i class="icon ion-eye" style="flex: 1"> 0</i>
                        </p>
                    </div>
                </a>

                <a class="item item-thumbnail-left" ui-sref="newDetails({newID:entry.id})" ng-repeat="entry in topNews">
                    <div class="left" >
                        <img src="{{entry.author.avatar}}">
                    </div>

                    <div class="right">
                        <h2>{{entry.title}}</h2>
                        <p class="date">
                            <span>{{entry.published}}</span>
                            <i class="icon ion-eye"> {{entry.diggs}}</i>
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="newsList hot" ng-if="true">
        <div class="share">
            <div class="list">
                <a class="item" ui-sref="newDetails({newID:entry.id})">
                    <div class="left" >
                        <img src="./img/">
                    </div>

                    <div class="right">
                        <h2>{{entry.title}}</h2>
                        <p class="date">
                            <span>{{entry.published}}</span>
                            <i class="icon ion-eye"> {{entry.diggs}}</i>
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="qrcode">
        <!--<img src="">-->
    </div>

</ion-content>
