<ion-view title="主题" class="details">
    <ion-nav-buttons side="left">
        <a class="button button-icon icon ion-ios-arrow-back" ng-click="toClose()"></a>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <a class="button button-icon icon" ng-class="{true:'ion-android-star',false:'ion-android-star-outline'}[collect]" ng-click="onCollect(article.id)"></a>
    </ion-nav-buttons>

    <ion-content class="has-header has-footer" scroll-top delegate-handle="detailsHandle">

        <div class="title" ng-if="article">
            <dl>
                <dt>{{article.title}}</dt>
                <dt class="source">
                    来源: CNodeJs中文开发社区&nbsp;&nbsp;
                    <span>作者: {{article.author.loginname}}</span>
                </dt>

                <dt class="info">
                    <img ng-src="{{article.author.avatar_url}}" onerror="this.src='image/default_user.png'" class="dfuser" ng-click="onAuthor(article.author.loginname)">
                    <span class="date">{{article.create_at | dateFilter}}</span>
                    <span class="views">浏览{{article.visit_count}}次</span>
                </dt>
            </dl>
        </div>

        <div class="introduction" ng-bind-html="article.content | conImgFilter" ng-if="article">></div>

        <div class="share-popu">
            <div class="staret">&nbsp;&nbsp;我要分享 &nbsp;&nbsp;</div>
            <hr/>

            <div class="action-sheet">
                <div class="action-sheet-group">
                    <button class="button action-sheet-option ng-binding" ng-click="share(1)"><img src="image/wx.png" height="40px"><span>微信好友</span></button>
                    <button class="button action-sheet-option ng-binding" ng-click="share(2)"><img src="image/wx2.png" height="40px"><span>朋友圈</span></button>
                    <button class="button action-sheet-option ng-binding" ng-click="share(3)"><img src="image/qqshare.png" height="40px"><span>QQ</span></button>
                    <button class="button action-sheet-option ng-binding" ng-click="share(4)"><img src="image/qzone.png" height="40px"><span>QQ空间</span></button>
                </div>
            </div>
        </div>

        <div class="item item-divider">
            <i class="item item-icon-left">
                <i class="icon ion-edit"></i>热门评论
            </i>
        </div>
        <div class="replies" ng-if="article">
            <div class="reply_item" ng-repeat="reply in article.replies">
                <a>
                    <img ng-src="{{reply.author.avatar_url}}" onerror="this.src='image/default_user.png'" class="dfuser" ng-click="onAuthor(reply.author.loginname)">
                    <div class="reply">
                        <div class="name">{{reply.author.loginname}}</div>
                        <div class="content" ng-bind-html="reply.content | conImgFilter"></div>
                        <div class="time">
                            <span>{{$index + 1}}楼</span> ●
                            <span>{{reply.create_at | dateFilter}}</span>
                            <!--{{reply.create_at}}-->
                            <!--<div class="point">-->
                            <!--<i class="icon-views"></i>{{reply.create_at}}-->
                            <!--</div>-->
                            <div class="point">
                                <i ng-class="{true:'icon-zaned',false:'icon-zan'}[reply.is_uped]" ng-click="onZan($event, reply.id)"></i>{{reply.ups.length}}
                            </div>
                            <div class="point">
                                <i class="icon-discuss" ng-click="onReply($event, reply.id)"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <span ng-if="article.replies.length == 0"><br/>&nbsp;&nbsp;
                    暂无评论
            </span>
        </div>
    </ion-content>

    <div class="to_top">
        <i class="icon-totop" ng-click="toTop()" ng-if="article && article.replies.length>10"></i>
    </div>

    <div class="comment" ng-show="isFocus">
        <div class="row top">
            <a class="positive" ng-click="onFocus(false)">取 消</a>
            <span>评 论</span>
            <a class="positive" ng-click="onSend()">发 送</a>
        </div>
        <textarea ng-model="input.comment" id="comment" autofocus ng-blur="onFocus(false)"></textarea>
    </div>

    <div class="bar bar-footer" ng-show="!isFocus">
        <a class="item-input-wrapper" ng-click="onFocus(true)">
            <span>发表评论</span>
            <span>{{article.reply_count}}条评论</span>
        </a>
        <div class="row opr">
            <i class="icon-s-share" ng-click="onShare()"></i>
        </div>
    </div>
</ion-view>
