<ion-view class="login" view-title="精华" cache-view="false">
    <ion-nav-buttons>
        <a class="button button-icon icon ion-ios-arrow-back" ng-click="toClose()"></a>
    </ion-nav-buttons>

    <ion-content class="has-header goods">
        <ion-refresher
                pulling-text="下拉"
                refreshing-text="刷新中..."
                on-refresh="getRefresh()">
        </ion-refresher>

        <ion-spinner icon="dots" class="spinner-dark" ng-if="topics.length<1"></ion-spinner>

        <div class="list good">
            <div class="item" ng-repeat="topic in  goodList | limitTo: 20">
                <a t1 ui-sref="details({id: topic.id})">
                    <div class="row header">
                        <img ng-src="{{topic.author.avatar_url}}"  onerror="this.src='img/error.jpg'"  ui-sref="user({name: topic.author.loginname})">
                        <span class="name">{{topic.author.loginname}}</span>
                        <div class="type">
                            <i class="i_good">精华</i>
                        </div>
                    </div>

                    <div class="title">
                        {{topic.title}}
                    </div>
                    <div class="content" ng-bind-html="topic.content"></div>
                    <div class="row footer">
                        <div class="tips">
                            <i class="icon-discuss"></i>
                            {{topic.reply_count}}
                        </div>
                        <div class="tips">
                            <i class="icon-views"></i>
                            {{topic.visit_count}}
                        </div>
                        <div class="publish">
                            2018-4-23
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <ion-infinite-scroll
                on-infinite="loadMore()"
                distance="1%">
        </ion-infinite-scroll>


    </ion-content>
</ion-view>