<!--缓存配置2-->
<ion-view class="home" cache-view="false" view-title="CNodeJS中文网">
    <ion-nav-buttons side="left">
        <a class="button button-icon icon ion-navicon" menu-toggle="left"></a>
    </ion-nav-buttons>

    <ion-content class="has-header" scroll="false">
        <tab-slide-box tab="0">
            <div class="slidebox">
                <div class="tsb-icons">
                    <div class="tsb-ic-wrp">
                        <ion-scroll direction="x" class="tsb-hscroll"  delegate-handle="tabSlider">
                            <a href="javascript:;">最新</a>
                            <a href="javascript:;">热门</a>
                            <a href="javascript:;">本地</a>
                        </ion-scroll>
                    </div>
                </div>
                <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)" delegate-handle="tabSlider">
                    <ion-slide>
                        <ng-include src=' "views/main.html" '></ng-include>
                    </ion-slide>
                    <ion-slide>
                        <ng-include src=' "views/topics.html" '></ng-include>
                    </ion-slide>
                    <ion-slide>
                        <ng-include src=' "views/topics.html" '></ng-include>
                    </ion-slide>
                </ion-slide-box>
            </div>
        </tab-slide-box>
    </ion-content>
</ion-view>