@charset "utf-8";
/* 文章详情 */
.details ion-content{
  padding:0 15px;
  background-color:#fff;

  .title{
    border-bottom:solid 1px #d6d6d6;
    overflow:hidden;
    margin:15px 0;

    dt{
      font-size:20px;
      color:#444;
      line-height:23px;
      font-weight:bold;
      vertical-align:text-bottom;   /*底对齐*/
      text-align: center;
    }

    .source{
      font-size: 12px;
      font-weight: normal;
      color: #999;
      padding-top: 10px;
    }

    .info{
      font-size: 12px;
      font-weight: normal;
      color: #999;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;

      img{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin-right: 5px;
      }

      span{
        line-height: 40px;
        text-align: left;
        margin-right: 10px;
      }

    }
  }

  .introduction{
    width: 100%;
    color: #666;
    font-size: 12px;
    padding-bottom: 20px;
    box-sizing: border-box;
    min-height: 120px;

    &>.markdown-text{
      font-size: 12px;
      padding: 0px;
      margin: 0px;

      h1,h2{
        font-size: 16px;
        font-weight: bold;
      }
      h3,h4{
        font-size: 14px;
        font-weight: bold;
      }
      h5,h6{
        font-size: 12px;
      }
      p,pre,ol,li,code{

      }

      ul {
        list-style: none;
        text-indent:2em;
        counter-reset: count;
      }
      li:before {
        content: "● ";
      }

      ol{
        text-indent:2em;
        list-style-type:none;
        counter-reset:sectioncounter;
      }
      ol li:before {
        content:counter(sectioncounter) '、';
        counter-increment:sectioncounter;
      }
      img{
        width: 100%;
        clear: both;
      }
    }
  }
  /*分享*/
  .share-popu{

    .staret{
      margin-bottom: -21px;
      background: #fff;
      z-index:1;
      text-align: center;
      color:#B6B6B6;
      font-size:12px;
      padding-bottom:5px;
      white-space: nowrap;
      position: relative;
      width: 60px;
      left: 50%;
      margin-left: -30px;
    }

    .action-sheet{
      margin:0;
      background: #F8F8F8;

      .action-sheet-group{
        border-radius:0px;
        margin:0;
      }

      .button{
        font-size:12px;
        width:25%;
        float: left;
        line-height:24px;
        padding-top:15px;
        color: #6A6A6A;

        img{
          vertical-align: text-top;
        }

        span{
          display:block;
        }
      }

      .button.activated{
        background:none;
      }

    }

  }

  /* 话题回复 */
  .replies {
    box-sizing: border-box;
    background-color: transparent;
    min-height: 140px;

    .reply_item{
      background-color: transparent;

      &>a{
        padding: 16px;
        box-sizing: border-box;
        border-bottom: 1px solid #e5e5e5;
        display: flex;
        align-content: flex-start;
        justify-content: flex-start;
        text-decoration: none;

        &>img{
          width: 42px !important;
          height: 42px !important;
          border-radius: 50%;
          margin-right: 12px;
        }

        .reply{
          flex: 1;

          .name{
            height: 18px;
            line-height:18px;
            font-size: 14px;
            margin-bottom: 8px;
            color: #222222;
          }

          .content{
            width: 100%;
            color: #7f8389;
            font-size: 12px;

            &>.markdown-text{
              font-size: 12px;
              padding: 0px;
              margin: 0px;

              h1,h2,h3,h4,h5,h6,
              p,pre,ol,li,code,
              blockquote{
                color: #929292;
                margin: 0 !important;
                font-size: 12px !important;
                line-height: 20px !important;
                text-indent: 0 !important;
                padding: 0px !important;
                border-width: 0 !important;
              }
              ul {
                list-style: none;
                text-indent:2em;
                counter-reset: count;
              }
              li:before {
                content: "● ";
              }

              ol{
                text-indent:2em;
                list-style-type:none;
                counter-reset:sectioncounter;
              }
              ol li:before {
                content:counter(sectioncounter) '、';
                counter-increment:sectioncounter;
              }
              img{
                width: 100%;
                clear: both;
              }
            }
          }

          .time{
            color: #909090;
            line-height: 20px;
            font-size: 12px;

            .point{
              float: right;
              //width: 40px;
              line-height: 22px;
              margin-left: 10px;
              text-align: left;

              i{
                float: left;
                margin-top: 3px;
                width: 16px;
                height: 16px;
              }
            }
          }
        }
      }

      .activated{
        //background-color: #ccc;
        //color: #fff;
      }
    }
  }
}


/* 评论输入栏 */
.comment{
  position:fixed;
  bottom:0;
  left:0;
  padding:6px 15px 10px;
  background-color: #eee;
  width:100%;

  .top{
    float: left;
    height: 38px;
    width: 100%;
    color: #a1a1a1;
    font-size: 12px;

    display: flex;
    align-content: center;
    justify-content: space-between;

    .activated{
      color: #ccc;
    }
  }
  textarea{
    width:100%;
    height:80px;
    resize:none;
    padding:4px;
    border-radius: 6px;
    font-size: 12px;
  }
}

/* 底部栏 */
.bar-footer{
  height: 54px;
  padding: 8px;
  background-color: #edeef1;
  box-sizing: border-box;

  .item-input-wrapper{
    border-radius: 4px;
    background-color: #fff;
    display: flex;
    align-content: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 10px;

    span{
      color: #a1a1a1;
      font-size: 12px;
    }

    textarea{
      width: 100%;
      height: 100%;
      line-height: 30px;
    }
  }

  .item-input-wrapper.activated{
    //border: 1px solid green;
  }

  .opr{
    height: 38px;
    width: 80px;
    line-height: 38px;
    padding: 0;
    margin-left: 10px;
    &>i{
      display: inline-block;
      margin-top:6px;
      width: 24px;
      height: 24px;
    }
    &>span{
      margin-right: 10px;
      display: inline-block;
    }
  }
}

.markdown-text{
  p{
    text-indent: 2rem;
    text-decoration: none;
  }
}


.to_top{
  position: absolute;
  right: 30px;
  bottom: 70px;
  display: block;
  height: 32px;
  width: 32px;
  visibility: hidden;
  background-color: transparent;

  i{
    width: 100%;
    height: 100%;
    display: block;
  }
}
