
.i_top{
  background-color: #d81e06;
  color: #fff;
}
.i_ask{
  background-color: #d4237a;
  color: #fff;
}
.i_share{
  background-color: #fed547;
  color: #fff;
}
.i_good{
  background-color: #609c0a;
  color: #fff;
}
.i_job{
  background-color: #4e8cee;
  color: #fff;
}

.icon-zan{
  background-image: url("../image/zan.png");
  background-size: cover;
}
.icon-share{
  background-image: url("../image/share.png");
  background-size: cover;
}
.icon-views{
  background-image: url("../image/view.png");
  background-size: cover;
}
.icon-discuss{
  background-image: url("../image/discuss.png");
  background-size: cover;
}
.icon-edit{
  background-image: url("../image/edit.png");
  background-size: cover;
}
.icon-collect{
  background-image: url("../image/collect.png");
  background-size: cover;
}
.icon-collected{
  background-image: url("../image/collected.png");
  background-size: cover;
}
.icon-hot{
  background-image: url("../image/hot.png");
  background-size: cover;
}
.icon-good{
  background-image: url("../image/good.png");
  background-size: cover;
}
.icon-ask{
  background-image: url("../image/ask.png");
  background-size: cover;
}
.icon-job{
  background-image: url("../image/job.png");
  background-size: cover;
}
.icon-github{
  background-image: url("../image/github.png");
  background-size: cover;
}
.icon-totop{
  background-image: url("../image/totop.png");
  background-size: cover;
}
.icon-title{
  background-image: url("../image/title.png");
  background-size: cover;
}
.icon-content{
  background-image: url("../image/content.png");
  background-size: cover;
}
.icon-assort{
  background-image: url("../image/assort.png");
  background-size: cover;
}
.icon-comment{
  background-image: url("../image/comment.png");
  background-size: cover;
}
.icon-more{
  background-image: url("../image/more.png");
  background-size: cover;
}
.icon-blog{
  background-image: url("../image/blog.png");
  background-size: cover;
}
.icon-csdn{
  background-image: url("../image/csdn.png");
  background-size: cover;
}
.icon-user{
  background-image: url("../image/user.png");
  background-size: cover;
}
.icon-lock{
  background-image: url("../image/lock.png");
  background-size: cover;
}
.icon-scanner{
  background-image: url("../image/scanner.png");
  background-size: cover;
}
.icon-bg-good{
  background-image: url("../image/bg_good.png");
  background-size: cover;
}
.icon-bg-share{
  background-image: url("../image/bg_share.png");
  background-size: cover;
}
.icon-bg-ask{
  background-image: url("../image/bg_ask.png");
  background-size: cover;
}
.icon-bg-job{
  background-image: url("../image/bg_job.png");
  background-size: cover;
}
.icon-reg-time{
  background-image: url("../image/reg_time.png");
  background-size: cover;
}
.icon-usr-score{
  background-image: url("../image/score.png");
  background-size: cover;
}