@charset "UTF-8";
/*轮播图*/
.tplb {
  border: none;
  background: none;
  margin: 0px;
  padding: 0px; }

.tplb .slider {
  position: relative; }

.tplb .slider-pager {
  bottom: 5px; }

.tplb .slider-pager .slider-pager-page {
  color: #ccc;
  font-size: 9px; }

.tplb .slider-pager .active {
  color: #fff; }

.tplb .text {
  display: none; }

.tplb .ptitle {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px;
  color: #000;
  background-color: #fff;
  width: 100%;
  font-size: 14px; }

.tplb .slider-pager {
  bottom: 5px;
  right: 10px;
  width: 30%;
  text-align: right;
  line-height: 34px; }

.tplb .slider-pager-page {
  width: 6px; }

.tplb .slider-pager-page i {
  font-size: 8px;
  color: #000; }

/* 话题列表 */
.home {
  /* 热门话题 */ }
  .home .item {
    margin: 0;
    padding: 0; }
  .home .item-divider {
    height: 32px;
    line-height: 32px;
    color: #419eff; }
    .home .item-divider i {
      float: left;
      display: block;
      width: 18px;
      height: 18px;
      margin: 6px; }
    .home .item-divider .tips {
      font-size: 14px; }
  .home .topics {
    background-color: #f4f6f9;
    padding: 10px 0;
    box-sizing: border-box; }
    .home .topics .topics_item {
      width: 100%;
      margin-bottom: 10px;
      padding: 10px 14px;
      background-color: #fff; }
      .home .topics .topics_item a {
        text-decoration: none; }
        .home .topics .topics_item a .header {
          height: 24px;
          line-height: 24px;
          padding: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 12px; }
          .home .topics .topics_item a .header img {
            width: 22px;
            line-height: 22px;
            border-radius: 4px;
            background-size: cover;
            margin-right: 6px; }
          .home .topics .topics_item a .header .name {
            display: block;
            flex: 1;
            color: #636365;
            font-size: 12px; }
          .home .topics .topics_item a .header .type {
            color: #c6ced5;
            font-size: 12px; }
            .home .topics .topics_item a .header .type i {
              display: inline-block;
              width: 32px;
              height: 20px;
              line-height: 20px;
              text-align: center;
              border-radius: 4px; }
        .home .topics .topics_item a .title {
          color: #101012;
          font-size: 16px !important;
          line-height: 18px !important;
          text-indent: 0 !important;
          text-overflow: -o-ellipsis-lastline;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical; }
        .home .topics .topics_item a .content {
          color: #929292;
          margin: 8px 0; }
          .home .topics .topics_item a .content .markdown-text {
            max-height: 72px;
            overflow: hidden;
            font-size: 14px;
            padding: 0px;
            margin: 0px; }
            .home .topics .topics_item a .content .markdown-text p,
            .home .topics .topics_item a .content .markdown-text pre,
            .home .topics .topics_item a .content .markdown-text blockquote {
              margin: 0 0 10px !important;
              font-size: 14px !important;
              line-height: 22px !important;
              text-indent: 0 !important;
              text-overflow: -o-ellipsis-lastline;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical; }
        .home .topics .topics_item a .footer {
          line-height: 20px;
          display: flex;
          padding: 0;
          font-size: 12px;
          color: #8c9cab; }
          .home .topics .topics_item a .footer .tips {
            width: 80px; }
            .home .topics .topics_item a .footer .tips i {
              float: left;
              display: block;
              width: 16px;
              height: 16px;
              margin: 2px; }
          .home .topics .topics_item a .footer .publish {
            flex: 1;
            text-align: right;
            width: 140px; }

/*# sourceMappingURL=topics.css.map */
